@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm("Index", "Machines", FormMethod.Get))
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)

    @* @Html.Label("Select Engineer")
    @Html.DropDownList("EngineerId") *@



    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
